Repository osism/k8s-capi-images: changes, and which Cirrus tasks are due for each by the changed paths.
All: build_126, build_127, build_128, build_129

.cirrus.yml:

---
# NOTE: That didn't work, thus use of instance with nested virtualization enabled.
#
# container:
#   image: ubuntu:20.04
#   kvm: true

compute_engine_instance:
  image_project: cirrus-images
  image: family/docker-kvm
  platform: linux
  cpu: 4
  memory: 16G
  disk: 100
  nested_virtualization: true

# environment variables

env:
  DEBIAN_FRONTEND: noninteractive
  HOME: "$CIRRUS_WORKING_DIR"
  PACKER_TMP_DIR: "$CIRRUS_WORKING_DIR/.packer.d"
  MINIO_ACCESS_KEY: "ENCRYPTED[200d9115444ec47abe42a397594fe726c2f01e4f8394817c6ac6c1c3c2914d713c885b080c2992f9b7605dc6a848caba]"
  MINIO_SECRET_KEY: "ENCRYPTED[f9bca5bdb6d905bb4fbbf3f64df81194ceb970c61917142c8eb74975ec357ffc30de73e4e6bea63b71e0da809bcdb815]"

build_task_template: &BUILD_TASK_TEMPLATE
  timeout_in: 120m
  install_script:
    - while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
    - while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
    - apt-get update
    - apt-get install -y git make python3-pip curl jq unzip

  prepare_script:
    - git clone https://github.com/kubernetes-sigs/image-builder
    - cd image-builder/images/capi
    - export PATH=$PWD/.bin:$HOME/.local/bin:$PATH
    - make deps-qemu

  build_script:
    - cd image-builder/images/capi
    - export PATH=$PWD/.bin:$HOME/.local/bin:$PATH
    - make build-qemu-ubuntu-2204

  prepare_push_script:
    - wget https://dl.min.io/client/mc/release/linux-amd64/mc
    - chmod +x mc
    - ./mc alias set minio https://swift.services.a.regiocloud.tech $MINIO_ACCESS_KEY $MINIO_SECRET_KEY
    - cd image-builder/images/capi/output
    - find . -type f -execdir bash -c 'x={}; cp $x ${x%.*}.qcow2; mv $x $x.qcow2' \;
    - find . -type f -execdir bash -c 'x={}; virt-sparsify --in-place $x' \;
    - find . -type f -execdir bash -c 'x={}; sha256sum $x > $x.CHECKSUM' \;
    - du -h

  push_script:
    - ./mc cp --recursive image-builder/images/capi/output/* minio/openstack-k8s-capi-images
    - ./mc policy set download minio/openstack-k8s-capi-images

build_126_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_126.json')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_126.json

build_127_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_127.json')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_127.json

build_128_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_128.json')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_128.json

build_129_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_129.json')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_129.json

cirrus: create & upload last image file
  .cirrus.yml
  extra_vars_127.json
  extra_vars_128.json
  extra_vars_129.json
Due: build_127, build_128, build_129

cirrus: create & upload last image file (#231)
  .cirrus.yml
  extra_vars_127.json
  extra_vars_128.json
  extra_vars_129.json
Due: build_127, build_128, build_129

cirrus: fix push task
  .cirrus.yml
Due: none

cirrus: fix push task (#232)
  .cirrus.yml
Due: none

cirrus: fix push task (pt. 2)
  .cirrus.yml
Due: none

cirrus: fix push task (pt. 2) (#233)
  .cirrus.yml
Due: none

Move the last file to the root of the bucket
  .cirrus.yml
Due: none

Move the last file to the root of the bucket (#234)
  .cirrus.yml
Due: none

Do not use virt-sparsify
  .cirrus.yml
Due: none

Do not use virt-sparsify (#235)
  .cirrus.yml
Due: none

Fix content of the last file
  .cirrus.yml
Due: none

Fix content of the last file (#236)
  .cirrus.yml
Due: none

Fix datetime format in the last file
  .cirrus.yml
Due: none

Fix datetime format in the last file (#237)
  .cirrus.yml
Due: none

chore: sync with upstream
  extra_vars_127.json
  extra_vars_128.json
  extra_vars_129.json
Due: build_127, build_128, build_129

README: add new versions
  README.md
Due: none

README: add new versions (#239)
  README.md
Due: none

chore: sync with upstream
  README.md
  extra_vars_127.json
  extra_vars_128.json
  extra_vars_129.json
Due: build_127, build_128, build_129

Add 1.30 image
  .cirrus.yml
  README.md
  extra_vars_130.json
Due: none

Add 1.30 image (#242)
  .cirrus.yml
  README.md
  extra_vars_130.json
Due: none

Fix sha256sum file name
  .cirrus.yml
Due: none

Fix sha256sum file name (#244)
  .cirrus.yml
Due: none

chore: sync with upstream
  extra_vars_128.json
Due: build_128

Add 1.28.10
  README.md
  extra_vars_128.json
Due: build_128

Add 1.28.10 (#245)
  README.md
  extra_vars_128.json
Due: build_128

Add 1.29.5
  README.md
  extra_vars_129.json
Due: build_129

Add 1.29.5 (#246)
  README.md
  extra_vars_129.json
Due: build_129

Add 1.30.1
  README.md
  extra_vars_130.json
Due: none

Add 1.30.1 (#247)
  README.md
  extra_vars_130.json
Due: none

Add 1.27.14
  README.md
  extra_vars_127.json
Due: build_127

Add 1.27.14 (#248)
  README.md
  extra_vars_127.json
Due: build_127

chore: sync with upstream
  extra_vars_127.json
  extra_vars_129.json
  extra_vars_130.json
Due: build_127, build_129

chore: sync with upstream
  extra_vars_127.json
  extra_vars_128.json
Due: build_127, build_128

chore: sync with upstream
  extra_vars_129.json
  extra_vars_130.json
Due: build_129

Add to README
  README.md
Due: none

Archive version 1.27
  .cirrus.yml
  README.md
  extra_vars_127.json
Due: build_127

Archive version 1.27 (#250)
  .cirrus.yml
  README.md
  extra_vars_127.json
Due: build_127

chore: sync with upstream
  README.md
  extra_vars_128.json
  extra_vars_129.json
  extra_vars_130.json
Due: build_128, build_129

Add 1.31.0
  .cirrus.yml
  README.md
  extra_vars_131.json
Due: none
