Repository osism/k8s-capi-images: changes, and which Cirrus tasks are due for each by the changed paths.
All: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

build_openstack_ubuntu_118:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_119:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_120:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_121:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_122:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

chore: update extra_vars_X.json
  extra_vars_openstack_ubuntu_120.json
  extra_vars_openstack_ubuntu_121.json
  extra_vars_openstack_ubuntu_122.json
Due: build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

chore: update extra_vars_X.json
  extra_vars_openstack_ubuntu_120.json
  extra_vars_openstack_ubuntu_121.json
Due: build_openstack_ubuntu_120, build_openstack_ubuntu_121

chore: update extra_vars_X.json
  extra_vars_openstack_ubuntu_122.json
Due: build_openstack_ubuntu_122

github: merge update workflows
  .github/workflows/sync-with-upstream.yml
  .github/workflows/update-image-builder-submodule.yml
Due: none

github: merge update workflows (#70)
  .github/workflows/sync-with-upstream.yml
  .github/workflows/update-image-builder-submodule.yml
Due: none

Remove old versions & fix the cirrus build
  .cirrus.yml
  README.md
  extra_vars_openstack_ubuntu_118.json
  extra_vars_openstack_ubuntu_119.json
  extra_vars_openstack_ubuntu_120.json
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

Add version 1.23.1
  .cirrus.yml
  README.md
  extra_vars_openstack_ubuntu_123.json
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

github: run branch builds on main only
  .github/workflows/check-python-syntax.yml
  .github/workflows/check-yaml-syntax.yml
Due: none

github: run branch builds on main only (#74)
  .github/workflows/check-python-syntax.yml
  .github/workflows/check-yaml-syntax.yml
Due: none

Path conditions:
  build_openstack_ubuntu_118: any of: extra_vars_openstack_ubuntu_118.json, .cirrus.yml
  build_openstack_ubuntu_119: any of: extra_vars_openstack_ubuntu_119.json, .cirrus.yml
  build_openstack_ubuntu_120: any of: extra_vars_openstack_ubuntu_120.json, .cirrus.yml
  build_openstack_ubuntu_121: any of: extra_vars_openstack_ubuntu_121.json, .cirrus.yml
  build_openstack_ubuntu_122: any of: extra_vars_openstack_ubuntu_122.json, .cirrus.yml
