Repository osism/k8s-capi-images: changes, and which Cirrus tasks are due for each by the changed paths.
All: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

build_openstack_ubuntu_118:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_119:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_120:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_121:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_122:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

Automerge the upstream changes
  .github/workflows/sync-with-upstream.yml
Due: none

chore: sync with upstream
  extra_vars_openstack_ubuntu_122.json
Due: build_openstack_ubuntu_122

chore: sync with upstream
  extra_vars_openstack_ubuntu_123.json
Due: none

chore: sync with upstream
  extra_vars_openstack_flatcar_124.json
  extra_vars_openstack_ubuntu_124.json
Due: none

Enable new minor versions
  extra_vars_openstack_flatcar_124.json
  extra_vars_openstack_ubuntu_122.json
  extra_vars_openstack_ubuntu_123.json
  extra_vars_openstack_ubuntu_124.json
Due: build_openstack_ubuntu_122

Enable new minor versions (#137)
  extra_vars_openstack_flatcar_124.json
  extra_vars_openstack_ubuntu_122.json
  extra_vars_openstack_ubuntu_123.json
  extra_vars_openstack_ubuntu_124.json
Due: build_openstack_ubuntu_122

Add: k8s version 1.25
  .cirrus.yml
  extra_vars_openstack_ubuntu_125.json
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

Add: k8s version 1.25 (#136)
  .cirrus.yml
  extra_vars_openstack_ubuntu_125.json
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

Revert "Enable new minor versions (#137)"
  extra_vars_openstack_flatcar_124.json
  extra_vars_openstack_ubuntu_122.json
  extra_vars_openstack_ubuntu_123.json
  extra_vars_openstack_ubuntu_124.json
Due: build_openstack_ubuntu_122

README: add link to 1.25
  README.md
Due: none

Use packer-provisioner-goss-v3.1.3
  .cirrus.yml
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

Fix "no matching host key type found"
  .cirrus.yml
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

Wait for apt lock
  .cirrus.yml
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

Add flatcar image with v1.25
  extra_vars_openstack_flatcar_125.json
Due: none

cirrus: add missing build_openstack_flatcar_125_task
  .cirrus.yml
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

Add missing FLATCAR_* environment variables
  .cirrus.yml
  README.md
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

Disable flatcar images for the moment
  .cirrus.yml
  README.md
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

github: run "Sync with upstream" only once a day
  .github/workflows/sync-with-upstream.yml
Due: none

github: run "Sync with upstream" only once a day (#142)
  .github/workflows/sync-with-upstream.yml
Due: none

chore: sync with upstream
  extra_vars_openstack_flatcar_125.json
  extra_vars_openstack_ubuntu_122.json
  extra_vars_openstack_ubuntu_123.json
  extra_vars_openstack_ubuntu_125.json
Due: build_openstack_ubuntu_122

Path conditions:
  build_openstack_ubuntu_118: any of: extra_vars_openstack_ubuntu_118.json, .cirrus.yml
  build_openstack_ubuntu_119: any of: extra_vars_openstack_ubuntu_119.json, .cirrus.yml
  build_openstack_ubuntu_120: any of: extra_vars_openstack_ubuntu_120.json, .cirrus.yml
  build_openstack_ubuntu_121: any of: extra_vars_openstack_ubuntu_121.json, .cirrus.yml
  build_openstack_ubuntu_122: any of: extra_vars_openstack_ubuntu_122.json, .cirrus.yml
