Repository osism/k8s-capi-images: changes, and which Cirrus tasks are due for each by the changed paths.
All: build_125, build_126, build_127, build_128

.cirrus.yml:

# NOTE: That didn't work, thus use of instance with nested virtualization enabled.
#
# container:
#   image: ubuntu:20.04
#   kvm: true

compute_engine_instance:
  image_project: cirrus-images
  image: family/docker-kvm
  platform: linux
  cpu: 4
  memory: 16G
  disk: 100
  nested_virtualization: true

# environment variables

env:
  DEBIAN_FRONTEND: noninteractive
  HOME: "$CIRRUS_WORKING_DIR"
  PACKER_TMP_DIR: "$CIRRUS_WORKING_DIR/.packer.d"
  MINIO_ACCESS_KEY: "ENCRYPTED[7f7aba7198fae768824e62cefa22d1261d1b8fafc718ee039136131a84d863669fe5fc4db1d381e281a0c61bf99fdfa1]"
  MINIO_SECRET_KEY: "ENCRYPTED[065a2797d025536be386e58a777600f254dca878e26e989856bd758226e558b889b5a17af07fb6cf256231652f6def9d]"

build_task_template: &BUILD_TASK_TEMPLATE
  timeout_in: 120m
  install_script:
    - while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
    - while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
    - apt-get update
    - apt-get install -y curl git software-properties-common
    - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
    - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
    - apt-add-repository --yes --update ppa:ansible/ansible
    - apt-get install -y ansible packer

  prepare_script:
    - git clone https://github.com/kubernetes-sigs/image-builder
    - ansible-playbook -i localhost, playbooks/pre.yml -e working_directory=$CIRRUS_WORKING_DIR

  build_script:
    - cd image-builder/images/capi
    - make build-qemu-ubuntu-2204

  prepare_push_script:
    - wget https://dl.min.io/client/mc/release/linux-amd64/mc
    - chmod +x mc
    - ./mc alias set minio https://swift.services.a.regiocloud.tech $MINIO_ACCESS_KEY $MINIO_SECRET_KEY
    - cd image-builder/images/capi/output
    - find . -type f -execdir bash -c 'x={}; cp $x ${x%.*}.qcow2; mv $x $x.qcow2' \;
    - find . -type f -execdir bash -c 'x={}; virt-sparsify --in-place $x' \;
    - find . -type f -execdir bash -c 'x={}; sha256sum $x > $x.CHECKSUM' \;
    - du -h

  push_script:
    - ./mc cp --recursive image-builder/images/capi/output/* minio/openstack-k8s-capi-images
    - ./mc policy set download minio/openstack-k8s-capi-images

build_125_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_125.json')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_125.json

build_126_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_126.json')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_126.json

build_127_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_127.json')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_127.json

build_128_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_128.json')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_128.json

Fix builds (#207)
  extra_vars_125.json
  extra_vars_126.json
  extra_vars_127.json
  extra_vars_128.json
  src/update-extra-vars.py
Due: build_125, build_126, build_127, build_128

chore: sync with upstream
  extra_vars_125.json
  extra_vars_126.json
  extra_vars_127.json
  extra_vars_128.json
Due: build_125, build_126, build_127, build_128

Fix some yamllint issues (#206)
  .cirrus.yml
  playbooks/pre.yml
Due: none

Add missing version to the README file
  README.md
Due: none

Add missing version to the README file (#209)
  README.md
Due: none

Archive 1.25 images & disable 1.25 builds
  .cirrus.yml
  .images.yml
  .zuul.yaml
  README.md
  extra_vars_125.json
Due: build_125

Archive 1.25 images & disable 1.25 builds (#210)
  .cirrus.yml
  .images.yml
  .zuul.yaml
  README.md
  extra_vars_125.json
Due: build_125

chore: sync with upstream
  extra_vars_126.json
  extra_vars_127.json
  extra_vars_128.json
Due: build_126, build_127, build_128

README: add new versions
  README.md
Due: none

README: add new versions (#212)
  README.md
Due: none

Add 1.29 image
  .cirrus.yml
  README.md
  extra_vars_129.json
  playbooks/pre.yml
Due: none

Add 1.29 image (#213)
  .cirrus.yml
  README.md
  extra_vars_129.json
  playbooks/pre.yml
Due: none

README: remove "Images provided by Vexxhost"
  README.md
Due: none

README: remove "Images provided by Vexxhost" (#214)
  README.md
Due: none

chore: sync with upstream
  extra_vars_129.json
Due: none

cirrus: update secrets
  .cirrus.yml
Due: none

cirrus: update secrets (#216)
  .cirrus.yml
Due: none

Fix README
  README.md
  extra_vars_129.json
Due: none

chore: sync with upstream
  extra_vars_126.json
  extra_vars_127.json
  extra_vars_128.json
  extra_vars_129.json
Due: build_126, build_127, build_128

Enable zuul builds
  .cirrus.yml
  .zuul.yaml
  playbooks/build.yml
  playbooks/pre.yml
Due: none

README: add new versions (#218)
  README.md
Due: none

README: add end of life dates
  README.md
Due: none

README: add end of life dates (#220)
  README.md
Due: none

cirrus: improve tasks
  .cirrus.yml
Due: none

cirrus: update secrets (#223)
  .cirrus.yml
Due: none

README: add new versions (#224)
  README.md
Due: none

Remove the "Pin CNI package" workaround for Kubernetes >= 1.29
  extra_vars_129.json
Due: none

Remove the "Pin CNI package" workaround for Kubernetes >= 1.29 (#225)
  extra_vars_129.json
Due: none

README: add link to end of life calender
  README.md
Due: none

README: add link to end of life calender (#228)
  README.md
Due: none

Archive version 1.26
  .cirrus.yml
  README.md
  extra_vars_126.json
Due: build_126

Archive version 1.26 (#229)
  .cirrus.yml
  README.md
  extra_vars_126.json
Due: build_126

cirrus: only push after merge
  .cirrus.yml
Due: none

cirrus: only push after merge (#230)
  .cirrus.yml
Due: none
