Repository osism/k8s-capi-images: changes, and which Cirrus tasks are due for each by the changed paths.
All: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121

.cirrus.yml:

---
# NOTE: That didn't work, thus use of instance with nested virtualization enabled.
#
# container:
#   image: ubuntu:20.04
#   kvm: true

compute_engine_instance:
  image_project: cirrus-images
  image: family/docker-kvm
  platform: linux
  cpu: 4
  memory: 16G
  disk: 100
  nested_virtualization: true

# environment variables

env:
  DEBIAN_FRONTEND: noninteractive
  HOME: "$CIRRUS_WORKING_DIR"
  PACKER_TMP_DIR: "$CIRRUS_WORKING_DIR/.packer.d"
  MINIO_ACCESS_KEY: "ENCRYPTED[22b49dc0eb50e7ebe1281025220d1f7916e3a6e370d0f85e1a5ecc16042289db0438f9c9c5c252fa939fc1a23f92de23]"
  MINIO_SECRET_KEY: "ENCRYPTED[776ca55841a8e4e820ceb8a5c29532b8662bce3954f38f1ea55a59e089370149ba4dfc81d885e588fa1a619cdcc78e30]"

# task templates

build_openstack_ubuntu_task_template: &BUILD_OPENSTACK_UBUNTU_TASK_TEMPLATE
  install_script:
    - apt-get update
    - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
    - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
    - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
    - apt-add-repository --yes --update ppa:ansible/ansible
    - apt-get install -y packer ansible
    - wget https://dl.min.io/client/mc/release/linux-amd64/mc
    - chmod +x mc
    - ./mc alias set minio https://images.osism.tech $MINIO_ACCESS_KEY $MINIO_SECRET_KEY

  submodules_script:
    - git submodule init
    - git submodule update

  build_script:
    - cd image-builder/images/capi
    - make build-qemu-ubuntu-2004

  prepare_push_script:
    - cd image-builder/images/capi/output
    - find . -type f -execdir bash -c 'x={}; mv $x ${x%.*}' \;

  push_script:
    - ./mc cp --recursive image-builder/images/capi/output/* minio/openstack-k8s-capi-images
    - ./mc policy set download minio/openstack-k8s-capi-images

# tasks

build_openstack_ubuntu_118_task:
  <<: *BUILD_OPENSTACK_UBUNTU_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_openstack_ubuntu_118.json', '.cirrus.yml')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_openstack_ubuntu_118.json

build_openstack_ubuntu_119_task:
  <<: *BUILD_OPENSTACK_UBUNTU_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_openstack_ubuntu_119.json', '.cirrus.yml')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_openstack_ubuntu_119.json

build_openstack_ubuntu_120_task:
  <<: *BUILD_OPENSTACK_UBUNTU_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_openstack_ubuntu_120.json', '.cirrus.yml')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_openstack_ubuntu_120.json

build_openstack_ubuntu_121_task:
  <<: *BUILD_OPENSTACK_UBUNTU_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_openstack_ubuntu_121.json', '.cirrus.yml')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_openstack_ubuntu_121.json

chore: update extra_vars_X.json
  extra_vars_openstack_ubuntu_119.json
  extra_vars_openstack_ubuntu_120.json
  extra_vars_openstack_ubuntu_121.json
Due: build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121

Update download URLs + add qcow2 file extension
  .cirrus.yml
  README.md
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121

Fix download URLs
  README.md
Due: none

Add version 1.22.0
  .cirrus.yml
  extra_vars_openstack_ubuntu_122.json
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121

github: rename bot
  .github/workflows/update-extra-vars.yml
  .github/workflows/update-image-builder-submodule.yml
Due: none

README: add 1.22
  README.md
Due: none

Upload X.Y.Z as well
  .cirrus.yml
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121

README: add cirrus ci badge
  README.md
Due: none

chore: update extra_vars_X.json
  extra_vars_openstack_ubuntu_122.json
Due: none

chore: update extra_vars_X.json
  extra_vars_openstack_ubuntu_119.json
  extra_vars_openstack_ubuntu_120.json
Due: build_openstack_ubuntu_119, build_openstack_ubuntu_120

chore: update extra_vars_X.json
  extra_vars_openstack_ubuntu_121.json
Due: build_openstack_ubuntu_121
