Repository osism/k8s-capi-images: changes, and which Cirrus tasks are due for each by the changed paths.
All: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

build_openstack_ubuntu_118:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_119:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_120:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_121:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

build_openstack_ubuntu_122:
  install_script:
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
  - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
  ...

chore: update sync with upstream
  extra_vars_openstack_ubuntu_121.json
Due: build_openstack_ubuntu_121

chore: update sync with upstream
  extra_vars_openstack_ubuntu_122.json
  extra_vars_openstack_ubuntu_123.json
Due: build_openstack_ubuntu_122

github: fix commit message
  .github/workflows/sync-with-upstream.yml
Due: none

github: fix commit message (#80)
  .github/workflows/sync-with-upstream.yml
Due: none

chore: sync with upstream
  extra_vars_openstack_ubuntu_123.json
Due: none

chore: sync with upstream
  extra_vars_openstack_ubuntu_121.json
Due: build_openstack_ubuntu_121

chore: sync with upstream
  extra_vars_openstack_ubuntu_122.json
  extra_vars_openstack_ubuntu_123.json
Due: build_openstack_ubuntu_122

Path conditions:
  build_openstack_ubuntu_118: any of: extra_vars_openstack_ubuntu_118.json, .cirrus.yml
  build_openstack_ubuntu_119: any of: extra_vars_openstack_ubuntu_119.json, .cirrus.yml
  build_openstack_ubuntu_120: any of: extra_vars_openstack_ubuntu_120.json, .cirrus.yml
  build_openstack_ubuntu_121: any of: extra_vars_openstack_ubuntu_121.json, .cirrus.yml
  build_openstack_ubuntu_122: any of: extra_vars_openstack_ubuntu_122.json, .cirrus.yml
