Repository osism/k8s-capi-images: changes, and which Cirrus tasks are due for each by the changed paths.
All: build_openstack_ubuntu_122, build_openstack_ubuntu_123, build_openstack_ubuntu_124, build_openstack_ubuntu_125, build_openstack_ubuntu_126

build_openstack_ubuntu_122:
  install_script:
  - while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  - while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  ...

build_openstack_ubuntu_123:
  install_script:
  - while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  - while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  ...

build_openstack_ubuntu_124:
  install_script:
  - while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  - while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  ...

build_openstack_ubuntu_125:
  install_script:
  - while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  - while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  ...

build_openstack_ubuntu_126:
  install_script:
  - while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  - while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  - apt-get update
  - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
  ...

chore: sync with upstream
  extra_vars_openstack_ubuntu_123.json
  extra_vars_openstack_ubuntu_126.json
Due: build_openstack_ubuntu_123, build_openstack_ubuntu_126

chore: sync with upstream
  extra_vars_openstack_flatcar_124.json
  extra_vars_openstack_flatcar_125.json
  extra_vars_openstack_ubuntu_124.json
  extra_vars_openstack_ubuntu_125.json
Due: build_openstack_ubuntu_124, build_openstack_ubuntu_125

Use ubuntu 22.04 & disable old builds
  .cirrus.yml
  README.md
  extra_vars_openstack_ubuntu_122.json
  extra_vars_openstack_ubuntu_123.json
Due: build_openstack_ubuntu_122, build_openstack_ubuntu_123, build_openstack_ubuntu_124, build_openstack_ubuntu_125, build_openstack_ubuntu_126

Fix link to new 1.24 image
  README.md
Due: none

Add renovate configuration
  .github/renovate.json
Due: none

Use zuul
  .cirrus.yml
  .flake8
  .github/workflows/sync-with-upstream.yml
  .gitmodules
  .zuul.yaml
  README.md
  extra_vars_openstack_flatcar_124.json
  extra_vars_openstack_flatcar_125.json
  playbooks/build.yml
  playbooks/pre.yml
  scripts/001-install.sh
Due: build_openstack_ubuntu_122, build_openstack_ubuntu_123, build_openstack_ubuntu_124, build_openstack_ubuntu_125, build_openstack_ubuntu_126

Make versions configurable
  .zuul.yaml
  playbooks/build.yml
Due: none

Fix build
  .zuul.yaml
  playbooks/build.yml
  playbooks/post.yml
  playbooks/pre.yml
  scripts/001-install.sh
Due: none

Yamllint: Refactor check
  .github/workflows/check-yaml-syntax.yml
  .zuul.yaml
Due: none

Yamllint: Refactor check (#169)
  .github/workflows/check-yaml-syntax.yml
  .zuul.yaml
Due: none

Python: Refactor syntax check
  .github/workflows/check-python-syntax.yml
  .zuul.yaml
Due: none

Python: Refactor syntax check (#170)
  .github/workflows/check-python-syntax.yml
  .zuul.yaml
Due: none

chore: sync with upstream
  extra_vars_openstack_ubuntu_124.json
  extra_vars_openstack_ubuntu_125.json
  extra_vars_openstack_ubuntu_126.json
Due: build_openstack_ubuntu_124, build_openstack_ubuntu_125, build_openstack_ubuntu_126

Fix build
  playbooks/build.yml
  scripts/001-install.sh
Due: none

Make versions configurable (#168)
  .zuul.yaml
  playbooks/build.yml
  playbooks/post.yml
  playbooks/pre.yml
  scripts/001-install.sh
Due: none

Build all versions
  .zuul.yaml
  playbooks/pre.yml
Due: none

Build all versions (#174)
  .zuul.yaml
  playbooks/pre.yml
Due: none

Re-add cirrus CI
  .cirrus.yml
  playbooks/build.yml
  playbooks/post.yml
  playbooks/pre.yml
Due: build_openstack_ubuntu_122, build_openstack_ubuntu_123, build_openstack_ubuntu_124, build_openstack_ubuntu_125, build_openstack_ubuntu_126

Re-add cirrus CI (#175)
  .cirrus.yml
  playbooks/build.yml
  playbooks/post.yml
  playbooks/pre.yml
Due: build_openstack_ubuntu_122, build_openstack_ubuntu_123, build_openstack_ubuntu_124, build_openstack_ubuntu_125, build_openstack_ubuntu_126

Make cirrus CI usable and disable Zuul CI jobs
  .cirrus.yml
  .zuul.yaml
  README.md
  playbooks/build.yml
  playbooks/post.yml
  playbooks/pre.yml
Due: build_openstack_ubuntu_122, build_openstack_ubuntu_123, build_openstack_ubuntu_124, build_openstack_ubuntu_125, build_openstack_ubuntu_126

Add periodic-daily jobs in zuul
  .zuul.yaml
Due: none

Add periodic-daily jobs in zuul (#176)
  .zuul.yaml
Due: none

Add checksum files
  .cirrus.yml
  README.md
Due: build_openstack_ubuntu_122, build_openstack_ubuntu_123, build_openstack_ubuntu_124, build_openstack_ubuntu_125, build_openstack_ubuntu_126

Add checksum files (#178)
  .cirrus.yml
  README.md
Due: build_openstack_ubuntu_122, build_openstack_ubuntu_123, build_openstack_ubuntu_124, build_openstack_ubuntu_125, build_openstack_ubuntu_126

Re-enable Ubuntu 20.04 builds
  .cirrus.yml
  README.md
Due: build_openstack_ubuntu_122, build_openstack_ubuntu_123, build_openstack_ubuntu_124, build_openstack_ubuntu_125, build_openstack_ubuntu_126

Re-enable Ubuntu 20.04 builds (#179)
  .cirrus.yml
  README.md
Due: build_openstack_ubuntu_122, build_openstack_ubuntu_123, build_openstack_ubuntu_124, build_openstack_ubuntu_125, build_openstack_ubuntu_126

README: add links to ubuntu 20.04 images
  README.md
Due: none

README: add links to ubuntu 20.04 images (#180)
  README.md
Due: none

chore: sync with upstream
  extra_vars_openstack_ubuntu_124.json
  extra_vars_openstack_ubuntu_126.json
Due: build_openstack_ubuntu_124, build_openstack_ubuntu_126

chore: sync with upstream
  extra_vars_openstack_ubuntu_125.json
Due: build_openstack_ubuntu_125

Path conditions:
  build_openstack_ubuntu_122: any of: extra_vars_openstack_ubuntu_122.json, .cirrus.yml
  build_openstack_ubuntu_123: any of: extra_vars_openstack_ubuntu_123.json, .cirrus.yml
  build_openstack_ubuntu_124: any of: extra_vars_openstack_ubuntu_124.json, .cirrus.yml
  build_openstack_ubuntu_125: any of: extra_vars_openstack_ubuntu_125.json, .cirrus.yml
  build_openstack_ubuntu_126: any of: extra_vars_openstack_ubuntu_126.json, .cirrus.yml
