Repository osism/k8s-capi-images: changes, and which Cirrus tasks are due for each by the changed paths.
All: build_127, build_128, build_129

.cirrus.yml:

---
# NOTE: That didn't work, thus use of instance with nested virtualization enabled.
#
# container:
#   image: ubuntu:20.04
#   kvm: true

compute_engine_instance:
  image_project: cirrus-images
  image: family/docker-kvm
  platform: linux
  cpu: 4
  memory: 16G
  disk: 100
  nested_virtualization: true

# environment variables

env:
  DEBIAN_FRONTEND: noninteractive
  HOME: "$CIRRUS_WORKING_DIR"
  PACKER_TMP_DIR: "$CIRRUS_WORKING_DIR/.packer.d"
  MINIO_ACCESS_KEY: "ENCRYPTED[f1e5f3b5e72297422e2ec817e8833a2e8d69fe75e3db78a7e4ba20581578752d6f6f61d1ed1d1254b6b54b7ae8bc6af9]"
  MINIO_SECRET_KEY: "ENCRYPTED[adba7892ef6bb89524abc57e38b401e77a268d129c44cd792a9dd064b8dcb0cf050dd4e906059d0f94ae4ac92d8e869b]"

build_task_template: &BUILD_TASK_TEMPLATE
  timeout_in: 120m
  install_script: |
    while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
    apt-get update
    apt-get install -y git make python3-pip curl jq unzip libguestfs-tools

  prepare_script: |
    git clone https://github.com/kubernetes-sigs/image-builder
    cd image-builder/images/capi
    export PATH=$PWD/.bin:$HOME/.local/bin:$PATH
    make deps-qemu

  build_script: |
    cd image-builder/images/capi
    export PATH=$PWD/.bin:$HOME/.local/bin:$PATH
    make build-qemu-ubuntu-2204

  push_script: |
    if [[ "$CIRRUS_BRANCH" == "main" ]]; then
      lpath=$(pwd)
      pushd image-builder/images/capi/output
      find . -type f -execdir bash -c 'x={}; cp $x ${x%.*}.qcow2; mv $x $x.qcow2' \;
      find . -type f -execdir bash -c 'x={}; virt-sparsify --in-place $x' \;
      find . -type f -execdir bash -c 'x={}; echo $(date +%Y%m%d) ubuntu-2204-kube-v$IMAGE_IDENTIFIER/$x > $lpath/last-$IMAGE_IDENTIFIER' \;
      find . -name '*.qcow2' -execdir bash -c 'x={}; sha256sum $x > $x.CHECKSUM' \;
      popd

      wget https://dl.min.io/client/mc/release/linux-amd64/mc
      chmod +x mc
      ./mc alias set minio https://swift.services.a.regiocloud.tech $MINIO_ACCESS_KEY $MINIO_SECRET_KEY
      ./mc cp --recursive image-builder/images/capi/output/* minio/openstack-k8s-capi-images
      ./mc cp last-$IMAGE_IDENTIFIER minio/openstack-k8s-capi-images
      ./mc policy set download minio/openstack-k8s-capi-images
    fi

build_127_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_127.json', '.cirrus.yml')"
  env:
    IMAGE_IDENTIFIER: "1.27"
    PACKER_VAR_FILES: ../../../extra_vars_127.json

build_128_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_128.json', '.cirrus.yml')"
  env:
    IMAGE_IDENTIFIER: "1.28"
    PACKER_VAR_FILES: ../../../extra_vars_128.json

build_129_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_129.json', '.cirrus.yml')"
  env:
    IMAGE_IDENTIFIER: "1.29"
    PACKER_VAR_FILES: ../../../extra_vars_129.json

Add 1.31.0 (#254)
  .cirrus.yml
  README.md
  extra_vars_131.json
Due: build_127, build_128, build_129

chore: sync with upstream
  extra_vars_128.json
  extra_vars_129.json
  extra_vars_130.json
Due: build_128, build_129

Update README
  README.md
Due: none

chore: sync with upstream
  extra_vars_128.json
Due: build_128

chore: sync with upstream
  extra_vars_129.json
  extra_vars_130.json
  extra_vars_131.json
Due: build_129

Use ubuntu-22.04.5-live-server-amd64.iso
  .cirrus.yml
  extra_vars_128.json
  extra_vars_129.json
  extra_vars_130.json
  extra_vars_131.json
Due: build_127, build_128, build_129

Use ubuntu-22.04.5-live-server-amd64.iso (#258)
  .cirrus.yml
  extra_vars_128.json
  extra_vars_129.json
  extra_vars_130.json
  extra_vars_131.json
Due: build_127, build_128, build_129

Use virt-sparsify again to reduce image size
  .cirrus.yml
Due: build_127, build_128, build_129

chore: sync with upstream
  README.md
  extra_vars_128.json
  extra_vars_129.json
  extra_vars_130.json
  extra_vars_131.json
Due: build_128, build_129

Archive kubernetes capi 1.28 images
  .cirrus.yml
  README.md
  extra_vars_128.json
Due: build_127, build_128, build_129

Archive kubernetes capi 1.28 images (#261)
  .cirrus.yml
  README.md
  extra_vars_128.json
Due: build_127, build_128, build_129

Remove ubuntu 20.04 images
  README.md
Due: none

Remove ubuntu 20.04 images (#262)
  README.md
Due: none

Add 1.32
  .cirrus.yml
  README.md
  extra_vars_132.json
Due: build_127, build_128, build_129

chore: sync with upstream
  extra_vars_129.json
Due: build_129

chore: sync with upstream
  README.md
  extra_vars_130.json
  extra_vars_131.json
Due: none

Add 1.32 (#263)
  .cirrus.yml
  README.md
  extra_vars_132.json
Due: build_127, build_128, build_129

README: add EOL of v1.32
  README.md
Due: none

README: add EOL of v1.32 (#266)
  README.md
Due: none

README: fix wrong versions
  README.md
Due: none

README: fix wrong versions (#267)
  README.md
Due: none

README: add missing versions
  README.md
Due: none

README: add missing versions (#268)
  README.md
Due: none

chore: sync with upstream
  README.md
  extra_vars_129.json
  extra_vars_130.json
  extra_vars_131.json
  extra_vars_132.json
Due: build_129

README: remove deleted images
  README.md
Due: none

README: remove deleted images (#271)
  README.md
Due: none

README: delete old 1.28 images
  README.md
Due: none

chore: sync with upstream
  extra_vars_129.json
  extra_vars_130.json
  extra_vars_131.json
  extra_vars_132.json
Due: build_129

README: delete old 1.28 images (#272)
  README.md
Due: none

Archive 1.29
  .cirrus.yml
  README.md
  extra_vars_129.json
Due: build_127, build_128, build_129

Archive 1.29 (#275)
  .cirrus.yml
  README.md
  extra_vars_129.json
Due: build_127, build_128, build_129

README: add missing versions (#276)
  README.md
Due: none

Use Ubuntu 24.04 for Kubernetes 1.32
  extra_vars_132.json
Due: none

README: add EOL note
  README.md
Due: none
