Repository osism/k8s-capi-images: changes, and which Cirrus tasks are due for each by the changed paths.
All: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

.cirrus.yml:

---
# NOTE: That didn't work, thus use of instance with nested virtualization enabled.
#
# container:
#   image: ubuntu:20.04
#   kvm: true

compute_engine_instance:
  image_project: cirrus-images
  image: family/docker-kvm
  platform: linux
  cpu: 4
  memory: 16G
  disk: 100
  nested_virtualization: true

# environment variables

env:
  DEBIAN_FRONTEND: noninteractive
  HOME: "$CIRRUS_WORKING_DIR"
  PACKER_TMP_DIR: "$CIRRUS_WORKING_DIR/.packer.d"
  MINIO_ACCESS_KEY: "ENCRYPTED[14f76fd442c6d6d19da0a3334544f991b509b4628cf8ef577db34904951c38f02b930c9b6b0724ee35318f66d646631a]"
  MINIO_SECRET_KEY: "ENCRYPTED[60cc16f147d8a6c44f27a2d854b5d563322d5fde2011bc29f51088c28b1d88f572be39f2f09159e00625a7d9ec6ac929]"

# task templates

build_openstack_ubuntu_task_template: &BUILD_OPENSTACK_UBUNTU_TASK_TEMPLATE
  install_script:
    - apt-get update
    - apt-get install -y qemu-kvm curl git software-properties-common make python3-pip patch
    - curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
    - apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com focal main"
    - apt-add-repository --yes --update ppa:ansible/ansible
    - apt-get install -y packer ansible
    - wget https://dl.min.io/client/mc/release/linux-amd64/mc
    - chmod +x mc
    - ./mc alias set minio https://minio.services.osism.tech $MINIO_ACCESS_KEY $MINIO_SECRET_KEY

  submodules_script:
    - git submodule init
    - git submodule update

  build_script:
    - cd image-builder/images/capi
    - make build-qemu-ubuntu-2004

  prepare_push_script:
    - cd image-builder/images/capi/output
    - find . -type f -execdir bash -c 'x={}; cp $x ${x%.*}.qcow2; mv $x $x.qcow2' \;

  push_script:
    - ./mc cp --recursive image-builder/images/capi/output/* minio/openstack-k8s-capi-images
    - ./mc policy set download minio/openstack-k8s-capi-images

# tasks

build_openstack_ubuntu_118_task:
  <<: *BUILD_OPENSTACK_UBUNTU_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_openstack_ubuntu_118.json', '.cirrus.yml')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_openstack_ubuntu_118.json

build_openstack_ubuntu_119_task:
  <<: *BUILD_OPENSTACK_UBUNTU_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_openstack_ubuntu_119.json', '.cirrus.yml')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_openstack_ubuntu_119.json

build_openstack_ubuntu_120_task:
  <<: *BUILD_OPENSTACK_UBUNTU_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_openstack_ubuntu_120.json', '.cirrus.yml')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_openstack_ubuntu_120.json

build_openstack_ubuntu_121_task:
  <<: *BUILD_OPENSTACK_UBUNTU_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_openstack_ubuntu_121.json', '.cirrus.yml')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_openstack_ubuntu_121.json

build_openstack_ubuntu_122_task:
  <<: *BUILD_OPENSTACK_UBUNTU_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_openstack_ubuntu_122.json', '.cirrus.yml')"
  env:
    PACKER_VAR_FILES: ../../../extra_vars_openstack_ubuntu_122.json

chore: sync with upstream
  extra_vars_openstack_ubuntu_121.json
  extra_vars_openstack_ubuntu_122.json
  extra_vars_openstack_ubuntu_123.json
Due: build_openstack_ubuntu_121, build_openstack_ubuntu_122

cirrus: update minio keys
  .cirrus.yml
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

chore: sync with upstream
  extra_vars_openstack_ubuntu_121.json
Due: build_openstack_ubuntu_121

chore: sync with upstream
  extra_vars_openstack_ubuntu_122.json
Due: build_openstack_ubuntu_122

chore: sync with upstream
  extra_vars_openstack_ubuntu_123.json
Due: none

Prepare 1.24 release
  .cirrus.yml
  README.md
  extra_vars_openstack_ubuntu_124.json
Due: build_openstack_ubuntu_118, build_openstack_ubuntu_119, build_openstack_ubuntu_120, build_openstack_ubuntu_121, build_openstack_ubuntu_122

chore: sync with upstream
  extra_vars_openstack_ubuntu_124.json
Due: none
